# Dependencies
node_modules/
*/.node_modules/

# Entornos
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Vue build
dist/

# Backend (si usas)
uploads/
temp/